@use '../variables' as *;

.footer {
    background-color: $blue;
    color: $white;
    font-family: $text-font;
    padding: 80px 22px 50px;
    text-align: center;

    div {
        margin-bottom: $space30;
    }

    div ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    p {
        margin-bottom: $space15;
    }

    .p_strong {
        font-weight: $text-strong;
        margin: 0;
    }

    .containerConsent {
        display: grid;

        a {
            color: $white; 
        }
    }

    .copyright {
        font-size: 14px;
        font-weight: 200;
        margin-bottom: 0;
    }

    @media (min-width: $breakpoint-large) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: $space100;
        padding: 50px 170px 20px;
        text-align: unset;
        align-items: center;
        
        .containerCompInfo {
            grid-column: 2/3;
        }

        .containerContactInfo {
            grid-column: 2/3;
        }

        .containerConsent {
            grid-column: 1/2;
            grid-row: 2/3;
        }

        .copyright {
            text-align: center;
            grid-column: 1/3;
            font-size: 16px;
        }
    }
}

